#========================> FUNCTIONS <========================

FUNCTIONS , LIST ,  TUPLES , FSTRING , DOCSTRING , RECURSSION , SET , DICTIONARY

In [10]:
def sum():
    nums = input("Enter numbers comma seperated to sum : ").split(',')
    sum = 0
    for i in nums:
        sum+=int(i)
    print("Sum of numbers is : ",sum)


sum()

Sum of numbers is :  15

In [21]:
def mean(a,b,c=1):         # default argument c=1,  def arg is kpt at lst
    return (a+b+c/3)
mean(a=10,b=20)

30.333333333333332

In [22]:
# * Arguments

def sum(*num):
    s = 0;
    for i in num:
        s+=i
    return s

sum(1,2,3,4,5)

15

In [34]:
# ** Arguments

def dictnry(**name):
    print("Hello",name['fname'],name['lname'])

dictnry(fname='deepak',lname='gautam')

Hello deepak gautam

#========================> LIST <=========================

In [2]:
# methods : append(); pop()
# list are ordered & store multiple items of diff types.
# list are muteable

lst = ['a',10,'11',121.22];
print(lst)

for i in lst:
    print(i, end=' ')

['a', 10, '11', 121.22]
a 10 11 121.22

In [2]:
lst1 = []

# append
lst1.append(21)
lst1.append('Apples')
lst1.append(['Banana','Charry'])
lst1.append('Dragonfruit')
lst1.append(True)

for items in lst1:
    print(items, end=" , ")                         

# pop
popped = lst1.pop()
print('\n',popped)
print(lst1)

# indexes
print(lst1[1])
print(lst1[-1])

# is present or not
if 'Apples' in lst1:
    print("Present")

# jumpindex
for i in range(0,len(lst1),2):
    print(lst1[i], end = "  ")

21 , Apples , ['Banana', 'Charry'] , Dragonfruit , True ,
 True
[21, 'Apples', ['Banana', 'Charry'], 'Dragonfruit']
Apples
Dragonfruit
Present
21  ['Banana', 'Charry']

In [5]:
# List Comprehension - for creating list

lst = [i for i in range(1,11)]
print(lst)

lst1 = [i for i in range(1,20) if i%2==0]
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

#========================> LIST METHODS <=========================

In [19]:
l = [3,1,1]
l.append(2);            print(l)
l.sort();               print(l)
l.sort(reverse=True);   print(l)
l.reverse();            print(l)
print(l.index(2))
l.count(1)

m = l                           # m only refers l
m[0] = 0;               print(l);   print(m)

l.insert(1,899);        print(l)

l1 = [1.1,2.2,3.3]
l.extend(l1);           print(l)

[3, 1, 1, 2]
[1, 1, 2, 3]
[3, 2, 1, 1]
[1, 1, 2, 3]
2
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 899, 1, 2, 3]
[0, 899, 1, 2, 3, 1.1, 2.2, 3.3]

#========================> *TUPLES* <========================

In [39]:
tpl = (1);
print(type(tpl))

tpl1 = (1,)
print(type(tpl1))

tup = (1,'two',3.5,True)
print(type(tup))
print(tup[0:len(tup):1])

# tup[1] = 'three';             # not change / Immueble

print(tup[1])
print(tup[-1])
for i in tup:
    print(i, end="  ")


tup1 = ('a',1.5,['bat','cat','rat'])
print(tup1)

#------------------------> tuples methods
tup1[2].append('mango')
print(tup1)
tup1[2].pop()
print(tup1)

tup2 = (1,2,3,4,2,5,3,'a','b','a','c')
print(tup2.count(2))
                 
             #(num_to_find, from_indx, to_indx)
print(tup2.index(3, 4, 8))
print(len(tup2))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
(1, 'two', 3.5, True)
two
True
1  two  3.5  True  ('a', 1.5, ['bat', 'cat', 'rat'])
('a', 1.5, ['bat', 'cat', 'rat', 'mango'])
('a', 1.5, ['bat', 'cat', 'rat'])
2
6
11

In [9]:
ques = {'Capital of India ? ':'Delhi','National Bird ? ':'Peacock','Largest bird ? ':'Ostrich'}

for key in ques:
    print(key ,':', ques[key])
print("----------------------")

point = 0
for key in ques:
    print(key)
    ans = input("Your answer : ")
    ans = ans.capitalize()
    print(ans)
    if ans == ques[key]:
        point += 1
        
print("Your score is : ",point)

Capital of India ?  : Delhi
National Bird ?  : Peacock
Largest bird ?  : Ostrich
----------------------
Capital of India ?
Delhi
National Bird ?
Peacock
Largest bird ?
Ostrich
Your score is :  3

In [6]:
#================> fstring

msg = "my name is {} and I am from {}."
name =  'Deepak'
country = 'India'

# normal method
print(msg.format(name,country))

# using fstring
print(f'Hey my name is {name} and I am from {country}.')

my name is Deepak and I am from India.
Hey my name is Deepak and I am from India.

In [9]:
#===============> Docstrings & pep-8

# Docstrings

def sum(a,b):
    '''This is a function for finding sum of two numbers'''   # it is not a comment
    return a+b


print(sum(10,20))

print(sum.__doc__)

30
This is a function for finding sum of two numbers

=========================> *SETS* <=========================

In [49]:
#===> set contains unique numbers

s =  {1,2,'no',2.2}
print(s)
print(type(s))

d1 = {}
print(type(d1))

s1 = set()
print(type(s1))


for i in s:
    print(i,end=" ")

{1, 2, 2.2, 'no'}
<class 'set'>
<class 'dict'>
<class 'set'>
1 2 2.2 no

In [30]:
#================> Set methods

s1 = {1,2,3,5}
s2 = {2,3,4,6}

print("s1 : ",s1)
print("s2 : ",s2)
print("Union : ", s1.union(s2))
print("Intersection : ", s1.intersection(s2))


s3 = {11,33,55}
s4 = {22,44,11}

s3.update(s4)
print("Update s3 : ",s3)

s3.intersection_update(s4)
print("Intersection update : ",s3)

# symmentric difference  = uncommon values
s5 = {'Pune','Lucknow','Nainital'}
s6 = {'Lucknow','Nainital','Banglore'}
print("Symmetric Difference : ",s5.symmetric_difference(s6))
print("Difference : ",s5.difference(s6))


print(s5.isdisjoint(s6))
print(s5.issubset(s6))
print(s5.issuperset(s6))

print(s6)
s6.remove("Banglore")
print(s6)

print(s5)
s5.pop()
print(s5)

print(s6)
s6.clear()
print(s6)

del s6
# print(s6) # error as s6 is deleted

s1 :  {1, 2, 3, 5}
s2 :  {2, 3, 4, 6}
Union :  {1, 2, 3, 4, 5, 6}
Intersection :  {2, 3}
Update s3 :  {33, 22, 55, 11, 44}
Intersection update :  {11, 44, 22}
Symmetric Difference :  {'Banglore', 'Pune'}
Difference :  {'Pune'}
False
False
False
{'Banglore', 'Nainital', 'Lucknow'}
{'Nainital', 'Lucknow'}
{'Pune', 'Nainital', 'Lucknow'}
{'Nainital', 'Lucknow'}
{'Nainital', 'Lucknow'}
set()

======================> *DICTIONARY* <======================

In [121]:
# dics are ordered

d1 = {
    'a':"apple", 'b':"ball", 
    'c':"cat", 'd':"dog"
    }
print(d1['a'])

for key in d1.keys():
    print(d1[key] , end=" ")
print("\n")


for key in d1:
    print(f"{key} : {d1[key]}", end="; ")

apple
apple ball cat dog

a : apple; b : ball; c : cat; d : dog;

In [138]:
#----------> ADDING / REMOVING / VALUES IN DICTIONARY

d2 = {}
d2['fname'] = 'Deepak'              # add item
d2['lname'] = 'Gautam'
print(d2)

d2['location'] = 'Pune'
d2['country'] = 'India'
print(d2)

print(d2.keys())

print(d2.values())                  # value
print(d2.get('fname'))              # get value by key

d2.pop('lname')                     # remove item
print(d2)

print(d2.items())                   # key, value pairs as list

print(d2)
d3 = {'A':'Apply', 'B':'Banana'}
print(d3)

{'fname': 'Deepak', 'lname': 'Gautam'}
{'fname': 'Deepak', 'lname': 'Gautam', 'location': 'Pune', 'country': 'India'}
dict_keys(['fname', 'lname', 'location', 'country'])
dict_values(['Deepak', 'Gautam', 'Pune', 'India'])
Deepak
{'fname': 'Deepak', 'location': 'Pune', 'country': 'India'}
dict_items([('fname', 'Deepak'), ('location', 'Pune'), ('country', 'India')])
{'fname': 'Deepak', 'location': 'Pune', 'country': 'India'}
{'A': 'Apply', 'B': 'Banana'}

In [148]:
ep1 = {122: 45, 123: 89, 243: 67, 246: 68}
ep2 = {231: 56, 245: 64, 324:65}

ep1.update(ep2)
print(ep1)

ep1.popitem()
print(ep1)

ep1.pop(122)
print(ep1)

ep1.clear()
print(ep1)

del ep1
# print(ep1)        # NameError: name 'ep1' is not defined

print(ep2) 
del ep2[231]

ep2.update({231:566})
print(ep2)

print(ep2.values())

print(len(ep2))

ep3 = {1:'bat', 3:'apple', 2:'dog', 4:'cat'}
print(ep3)

print(sorted(ep3))
print(ep3)

ep4 = ep3.copy()
print(ep4)

{122: 45, 123: 89, 243: 67, 246: 68, 231: 56, 245: 64, 324: 65}
{122: 45, 123: 89, 243: 67, 246: 68, 231: 56, 245: 64}
{123: 89, 243: 67, 246: 68, 231: 56, 245: 64}
{}
{231: 56, 245: 64, 324: 65}
{245: 64, 324: 65, 231: 566}
dict_values([64, 65, 566])
3
{1: 'bat', 3: 'apple', 2: 'dog', 4: 'cat'}
[1, 2, 3, 4]
{1: 'bat', 3: 'apple', 2: 'dog', 4: 'cat'}
{1: 'bat', 3: 'apple', 2: 'dog', 4: 'cat'}

In [ ]:
#==============> RECURSSION - fxn calling itself inside it

# factorial

def fact(num):
    if num == 0 or num ==1:
        return 1
    else:
        return num*fact(num-1)


fact(5)

120

In [ ]:
# fibonacci   (0,1,1,2,3,5,8,13,21,....)

def fibonacci(num):
    for i in range(0,num):
        a = 0; b = 1;
        if num==1:
            print(0)
        elif num==2:
            print(0,1)
            break
        else:
            while(num!=0):
                print(a,end=" ")
                c = a+b
                a=b; b=c;
                num-=1

fibonacci(10)

0 1 1 2 3 5 8 13 21 34